body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center; 
    border: 2px solid #ccc;
    margin-top: 20px; 
    padding: 20px;
  }
  
  
  .clock {
    margin-bottom: 20px;
  }
  
  .question {
    font-size: 18px;
    margin-bottom: 20px;
  } 
  .question p {
    word-wrap: break-word;
    white-space: normal;
  }
  .question-statement  {
    word-wrap: break-word;
    white-space: normal;
  }
  .question-source{
    word-wrap: break-word;
    white-space: normal;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .option {
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow: hidden; 
    word-wrap: break-word; 
    white-space: normal;
  }
  .option:hover {
    background-color: #007bff;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-top: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #007bff;
  }
  
  
  .option.selected {
    background-color: #007bff; 
    }
  
    #timer {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
      padding: 10px 20px;
      border: 2px solid #333;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      margin-bottom: 15px;      
  }
  
  .question-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    word-wrap: break-word; 
    white-space: normal; 
    color: #fff;
    
  }
  
  .question-year, .question-area {
    font-weight: bold;
  }
  
  .question-statement {
    margin-top: 10px;
  }
  
  .question-source {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }
    
  
  
  